soap/src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="59ee7d88-7db3-4f7c-b799-13c861b3c358" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="dfffbabd-3f0e-4307-b3eb-c59992127bd2" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soapFlow" doc:id="205be5d7-5f88-416d-bd5d-475f9a71c8b5">
		<http:listener doc:name="Listener" doc:id="4d7dab35-e923-4081-84de-aa74e462fc96" config-ref="HTTP_Listener_config" path="soap" />
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="a4c5d479-f9e1-4a6d-af55-f6a6d3c64d96" variableName="number1" />
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="036d4af5-39f0-42e6-ab80-dba4b384a15e" variableName="number2" />
		<ee:transform doc:name="Transform Message" doc:id="d5dfcff0-3ed7-45b7-8c34-26b3c309a89f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: vars.number1 as Number,
		ns0#intB: vars.number2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Divide" doc:name="Consume" doc:id="19936e3e-99ab-4601-9d14-0ce55436bd44" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="65349796-ad82-4b53-acde-b37061da83b4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8be958c7-bfb4-4a18-8e76-c0b13998e457" message="#[payload]" />
		<logger level="INFO" doc:name="Logger" doc:id="9bb784fc-fa5a-4226-bc96-90e573b99ab0" message="operation sucess"/>
	</flow>
</mule>
